@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,800);

body {
  background: #a1ff9e;
  font-family: "Open Sans";
  font-size: 1.3em;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
#nav {
  background: url("http://thumb1.shutterstock.com/display_pic_with_logo/1487123/134611310/stock-vector-colorful-geometric-background-with-triangles-vector-eps-134611310.jpg");
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
}
#nav ul {
  list-style: none;
}
#nav li {
  display: inline-block;
  padding: 10px;
}
#nav li:hover {
  background: aquamarine;
}
#nav li:hover a {
  color: black;
}
.content {
  padding-top: 90px;
}
.anchor {
  display: block; /*this is important!*/
}
.title {
  position: relative;
  display: block;
  top: -50px;
  padding: 20px 0;
  font-size: 1.9em;
}
.title:before {
  font-size: 1.5em;
  content: "\005B";
}
.title:after {
  font-size: 1.5em;
  content: "\005D";
}
.page-divider {
  margin: 0 auto;
  width: 100%;
  min-height: 500px;
  height: 100%;
  overflow: hidden;
  background-size: cover;
}
.pgd1 {
  background-image: url("../assets/imagenPerfilCV.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}
.pgd2 {
  background-image: url("../assets/imagenDevelopmet.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}
.page {
  min-width: 200px;
  padding: 50px 100px;
}
#page1 {
  background: LightBlue;
}
#page2 {
  background: MediumSpringGreen;
}
#page3 {
  background: SlateGray;
}

footer {
  min-height: 200px;
  padding: 100px;
}
footer p {
  -webkit-column-count: 2;
  -webkit-column-gap: 40px;
  -moz-column-count: 2;
  -moz-column-gap: 40px;
  -o-column-count: 2;
  -o-column-gap: 40px;
  column-count: 2;
  column-gap: 40px;
}

/*para botones*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,800);

body {
	background: #5c076d;
	background-size: cover;
}

div {
	text-align: center;
	padding: 50px;
}

a.boton {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
	display: inline-block;
	margin: 15px 20%;
	text-decoration: none;
	color: black;
	padding: 20px 40px;
	border: 2px solid #fff;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	transition: all ease 400ms;
	-webkit-transition: all ease 400ms;
	-moz-transition: all ease 400ms;
	-ms-transition: all ease 400ms;
}

a.boton span {
	display: block;
	position: absolute;
	background: #e91e63;
	transition: all ease 400ms;
	-webkit-transition: all ease 400ms;
	-moz-transition: all ease 400ms;
	-ms-transition: all ease 400ms;
	z-index: -1;
}

a.boton span.top {
	left: 0;
	top: -50%;
	right: 0;
	bottom: 100%;
	border-radius: 50%;
}

a.boton span.left {
	left: -20%;
	top: 0;
	right: 110%;
	bottom: 0;
	transform: skewX(-30deg);
}

a.boton span.right {
	left: 100%;
	top: 0;
	right: 0;
	bottom: 0;
}

a.boton span.bottom {
	left: 0;
	top: 100%;
	right: 0;
	bottom: 0;
}

a.boton span.center {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 50px;
	height: 50px;
	border-radius: 100px;
	margin: auto;
	transform: scale(0, 0);
	transition: all ease 500ms;
	-webkit-transition: all ease 500ms;
	-moz-transition: all ease 500ms;
	-ms-transition: all ease 500ms;
	z-index: -1;
}

a.boton:hover {
	color: #fff;
	border: 2px solid #e91e63;
}

a.boton:hover span.top {
	top: 0;
	bottom: 0;
	border-radius: 0;
}

a.boton:hover span.left {
	right: -10%;
}

a.boton:hover span.right {
	left: 0;
}

a.boton:hover span.bottom {
	top: 0;
}

a.boton:hover span.center {
	transform: scale(2, 2);
	width: 200px;
	height: 200px;
}


/*para redes*/


.about {
  position: fixed;
  z-index: 10;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transition: all 0.2s ease;
}
.about .bg_links {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF1287;
  background-image: url(./assets/logoMunecoSinFondo.png);
  background-size: cover;
  border-radius: 100%;
  backdrop-filter: blur(5px);
  position: absolute;
}
.about .logo {
  width: 40px;
  height: 40px;
  z-index: 9;
  background-image: url(./assets/logoMunecoSinFondo.png);
  
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 10px 7px;
  opacity: 0.9;
  transition: all 1s 0.2s ease;
  bottom: 0;
  right: 0;
}
.about .social {
  opacity: 10;
  right: 0;
  bottom: 0;
}
.about .social .icon {
  width: 100%;
  height: 100%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  transition: all 0.2s ease, background-color 0.4s ease;
  opacity: 0;
  border-radius: 100%;
}
.about .social.portfolio {
  transition: all 0.8s ease;
}
.about .social.portfolio .icon {
  background-image: url(../assets/whatsappSinFondo.png);
  margin-top: 2rem;
 
}
.about .social.dribbble {
  transition: all 0.3s ease;
}
.about .social.dribbble .icon {
  background-image: url(../assets/logoGitHubSinFondo.png);
  margin-top: 2rem;
  
}
.about .social.linkedin {
  transition: all 0.8s ease;
}
.about .social.linkedin .icon {
  background-image: url(../assets/logoLinkedinSinFondo.png);
  margin-top: 2rem;

}
.about:hover {
  width: 105px;
  height: 105px;
  transition: all 0.6s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .logo {
  opacity: 1;
  transition: all 0.6s ease;
}
.about:hover .social {
  opacity: 1;
}
.about:hover .social .icon {
  opacity: 0.9;
}
.about:hover .social:hover {
  background-size: 28px;
}
.about:hover .social:hover .icon {
  background-size: 65%;
  opacity: 1;
}
.about:hover .social.portfolio {
  right: 0;
  bottom: calc(100% - 40px);
  transition: all 0.3s 0s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.portfolio .icon:hover {
  background-color: white;
}
.about:hover .social.dribbble {
  bottom: 45%;
  right: 45%;
  transition: all 0.3s 0.15s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.dribbble .icon:hover {
  background-color: white;
}
.about:hover .social.linkedin {
  bottom: 0;
  right: calc(100% - 40px);
  transition: all 0.3s 0.25s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.linkedin .icon:hover {
  background-color: white;
}
.icon {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 100%;
  height: 80px;
  max-width: 80px;
  background: #7116d8;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.8s ease;
  background-position: 0px;
  background-image: url(./assets/logoMunecoSinFondo.png);
  background-size: cover;

}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

footer{
  color:white;
}